<%= turbo_frame_tag "#{dom_id(chat)}_message_form" do %>
  <%= form_with(model: Message.new, url: [chat, chat.messages.new], class: 'card-footer') do |form| %>
    <div class="row my-2">
      <div class="col-10">
        <%= form.text_area :content, rows: 4, class: 'form-control', autofocus: true %>
      </div>
      <div class="col-2">
        <%= form.button type: :submit, class: "btn btn-primary" do %>
          <i class="fas fa-paper-plane"></i>
          <span class="pl-2">Send</span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
