<div id="<%= dom_id(message) %>_messages">
  <% replace = proc { "#{$1}. __#{$2}__ ：" } %>
  <% if message.user? %>
    <div class="text-white bg-primary p-3 rounded m-3">
      <%= CommonMarker.render_html(message.content.gsub(/(\d+)\.[ ]*(.+)[ ]*：/, &replace)).html_safe %>
    </div>
  <% else %>
    <div class="text-dark bg-light p-3 rounded m-3">
      <%= CommonMarker.render_html(message.content.gsub(/(\d+)\.[ ]*(.+)[ ]*：/, &replace)).html_safe %>
    </div>
  <% end %>
</div>
